* {
    box-sizing: border-box;
}

html, body {
    /* height: 100%; */
}

img {
    width: 100%;
    display:block;
}

body {
    margin: 0;
    display: grid;
    grid: auto / 1fr 1fr 1fr;   
}

.wrapper-l {
    background-color: red;
    display: flex;
    flex-direction: column;
}
aside {
    background-color: blue;
    display: grid;
    grid: auto 1fr / auto 1fr;
}

main {
   /* background-image: url(img/bg.jfif); */
   background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255,.5)), url(img/bg.jfif);
   background-repeat:no-repeat;
   background-size:cover;
   background-position:center;
   padding: 1em
}


.wrapper-r {
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

h1 {
padding: 0 1.5em;
font-family: 'Joti One', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 2em;
}

li {
    color: #fff;
    margin-bottom: 1.5em;
    background-color: black;
    display: block;
    font-family: 'Joti One', serif;
}

p {

}

.aside-img {
    grid-row: 1 / -1;
    grid-column: 2;
    height: 100%;
}

.aside-img2 {
    flex: 1 1 0;
    /* height:100% */
    /* grid-row: 2 / -1; */

}

.aside-img4 {
flex: 1 1 0;
}



@media (max-width: 600px) {
    body {
        grid: 1fr 1fr 1fr / auto;   
    }
}

.text{
    font-family: 'Joti One', serif;
    line-height: 1.6;
    
}